<%=  form_for(@article) do |f| %>
  <% @article.errors.full_messages.each do |message| %>
    <div class="be-blue white top-space">
      * <%= message %>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Título", class:"form-control"%>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Escribe aquí el artículo", style:"height:250px;", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.submit "Guardar", class:"btn be-blue white" %>
  </div>
<% end %>