<header>
  <nav class="be-blue white large-padding">
    <ul class="no-list row center-xs middle-xs">
      <li class="col-md">
        <h1 class="no-margin" id="logo"><%= link_to "Blog Facilito", root_path %></h1>
      </li>
      <li class="col-md">
        <%= link_to "Artículos", articles_path %>
      </li>
      <% if user_signed_in? %>
        <li class="col-md">
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="col-md">
          <%= link_to "Iniciar sesión", new_user_session_path %>
        </li>
        <li class="col-md">
          <%= link_to "Crear cuenta", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>